<?xml version="1.0" encoding="UTF-8" ?>
<!--
Schema for FCRM 6.0 Prefiltering
-->
<schema name="default-config" version="1.6">

    <field name="_version_" type="plong" indexed="false" stored="false"/>
    <field name="_root_" type="string" indexed="true" stored="false" docValues="false" />

    <!-- FCRM fields -->
    <field name="id"             type="string"                         required="true"                      />
    <field name="name"           type="text_general"                   required="true"  multiValued="false" />
    <field name="address"        type="string"        indexed="false"                                       />
    <field name="city"           type="string"        indexed="false"                                       />
    <field name="country"        type="string"        indexed="false"                                       />
    <field name="dob"            type="string"        indexed="false"                                       />
    <field name="list"           type="pint"                           required="true"                      />
    <field name="reference"      type="pint"          indexed="false"                                       />
    <field name="modified"       type="pdate"         indexed="false"                                       />
    <field name="tin"            type="string"        indexed="false"                                       />
    <field name="bic"            type="string"        indexed="false"                                       />
    <field name="soundex"        type="string"        indexed="false"                                       />
    <field name="trackingNumber" type="pint"          indexed="false"                                       />

    <uniqueKey>id</uniqueKey>

    <fieldType name="string" class="solr.StrField" sortMissingLast="true" docValues="true" />
    <fieldType name="strings" class="solr.StrField" sortMissingLast="true" multiValued="true" docValues="true" />
    <fieldType name="boolean" class="solr.BoolField" sortMissingLast="true"/>
    <fieldType name="booleans" class="solr.BoolField" sortMissingLast="true" multiValued="true"/>
    <fieldType name="pint" class="solr.IntPointField" docValues="true"/>
    <fieldType name="pfloat" class="solr.FloatPointField" docValues="true"/>
    <fieldType name="plong" class="solr.LongPointField" docValues="true"/>
    <fieldType name="pdouble" class="solr.DoublePointField" docValues="true"/>
    <fieldType name="pints" class="solr.IntPointField" docValues="true" multiValued="true"/>
    <fieldType name="pfloats" class="solr.FloatPointField" docValues="true" multiValued="true"/>
    <fieldType name="plongs" class="solr.LongPointField" docValues="true" multiValued="true"/>
    <fieldType name="pdoubles" class="solr.DoublePointField" docValues="true" multiValued="true"/>
    <fieldType name="random" class="solr.RandomSortField" indexed="true"/>
    <fieldType name="pdate" class="solr.DatePointField" docValues="true"/>
    <fieldType name="pdates" class="solr.DatePointField" docValues="true" multiValued="true"/>

    <dynamicField name="*_str" type="strings" stored="false" docValues="true" indexed="false" useDocValuesAsStored="false"/>

    <fieldType name="text_general" class="solr.TextField" positionIncrementGap="100" multiValued="true">
      <analyzer type="index">
        <tokenizer class="solr.StandardTokenizerFactory"/>
        <filter class="solr.StopFilterFactory" ignoreCase="true" words="stopwords.txt" />
        <filter class="solr.LowerCaseFilterFactory"/>
        <filter class="solr.ShingleFilterFactory" tokenSeparator="" maxShingleSize="10"/>
      </analyzer>
      <analyzer type="query">
        <tokenizer class="solr.StandardTokenizerFactory"/>
        <filter class="solr.StopFilterFactory" ignoreCase="true" words="stopwords.txt" />
        <filter class="solr.SynonymGraphFilterFactory" synonyms="synonyms.txt" ignoreCase="true" expand="true"/>
        <filter class="solr.LowerCaseFilterFactory"/>
        <filter class="solr.ShingleFilterFactory" tokenSeparator="" maxShingleSize="10"/>
      </analyzer>
    </fieldType>
</schema>

